body {
    background-color: #000000;
    color: #ffffff;
    padding-left: 30px;
}
/* タイトル */
h1 {
    margin: 20px 0 0 0;
    font-family: Comic Sans MS;
    text-shadow: 3px 2px 2px lightgray;
}
h1.main-title {
    width: 50vw;
    border-bottom: 1px solid #ffffff;
}
h3 {
    margin: 20px 0 0 0;
    font-family: Comic Sans MS;
}
/* フォーム */
select {
    width: 15vw;
    height: 25px;
    outline: 0;
}
input.word {
    width: 40vw;
    height: 25px;
    border-radius: 3px;
    outline: 0;
}
input.date {
    width: 13vw;
    height: 25px;
    border-radius: 3px;
    outline: 0;
}
button {
    background-color: lightgray;
    color: #0e0e0e;
    width: 10vw;
    height: 25px;
    border-radius: 3px;
    outline: 0;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* 検索エリア */
div.search-area {
    width: 50vw;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
div.search-area>div {
    margin: 20px 0 20px 10px;
}
div.site {
    width: 25vw;
    float: left;
}
div.category {
    width: 25vw;
    /* width: 300px; */
    padding-left: 320px;
}
div.search-button {
    font-size: 16px;
    text-align: center;
}
/* 記事一覧 */
table {
    font-size: 14px;
}
td {
    padding: 0 10px;
}
td.expired {
    color: gray;
}
/* 管理者ログイン */
div.admin-login {
    margin-top: 20px;
    font-size: 13px;
}
