{% load static %}
{% load widget_tweaks %}

<link rel="stylesheet" type="text/css" href="{% static 'finder/style.css' %}">

<h1 class="main-title">Find your interested news</h1>
<h3>Search</h3>
<div class="search-area">
    <form method="post" action="">
        <div class="top">
            <div class="site">
                {{ form.site_name.label }}
                {{ form.site_name }}
            </div>
            <div class="category">
                {{ form.category_name.label }}
                {{ form.category_name }}
            </div>
        </div>
        <div class="search-word">
            {{ form.search_word.label}}
            {{ form.search_word|add_class:"word"}}
        </div>
        <div class="search-term">
            {{ form.search_term_start.label}}
            {{ form.search_term_start|add_class:"date"}}
            〜 {{ form.search_term_end|add_class:"date"}}
        </div>
        <div class="search-button">
            <button type="button" name="button">検索</button>
        </div>
    </form>
</div>
<h3>Articles</h3>
{% if articles %}
    <div class="article-area">
        <table border=2>
            <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Date published</th>
            </tr>
            {% for article in articles %}
                <tr>
                    <td>{{article.title}}</td>
                    <td><a href="{{article.url}}">{{article.url}}</a></td>
                    <td>{{article.published_at}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p>条件に該当する記事がありません</p>
{% endif%}
<div class="admin-login">
    <a href="admin.html">管理者ログイン</a>
</div>

